<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="">
    <link rel="icon" href="../../public/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/test.css">
    <title>Blog</title>
</head>
<body>
<div class="container">
    <header class="row">
        <div class="col-md-1 col">
            <a>a</a>
        </div>
        <div class="col-md-6 col">
            b
        </div>
        <div class="col-md-3 col">
            c
        </div>
        <div class="col-md-2 col">
            d
        </div>
    </header>
    <nav class="row">
        <ul>
            <li class="list-inline">A<a href="#"></a></li>
            <li class="list-inline">A<a href="#"></a></li>
            <li class="list-inline">A<a href="#"></a></li>
            <li class="list-inline">A<a href="#"></a></li>
        </ul>
    </nav>
</div>
</body>
</html>